* {
  margin: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: rgb(228, 255, 255);
}

/* ---------- Header Navigation -------------------- */

header {
  display: flex;
  justify-content: center;
  background-color: rgb(17, 7, 59);
  padding: 20px;
  align-items: center;
}

.logo {
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  padding: 20px;
}

a {
  text-decoration: none;
  color: rgb(104, 142, 246);
}

a:hover {
  color: rgb(255, 255, 255);
}

/* ---------- Main -------------------- */

main {
  margin-top: 20px;
}

.pages {
  margin-left: 20px;
}

.home {
  margin-left: 110px;
}

.blob-image {
  margin-left: 400px;
}

.column {
  margin-top: 20px;
  margin: 10px;
  padding: 10px;
  float: left;
  height: 500px;
  margin-bottom: 50px;
}

.left {
  width: 20%;
  background-color: rgb(187, 232, 255);
}

.right {
  width: 1133px;
  background-color: rgb(172, 222, 255);
}

/* ---------- Footer -------------------- */

footer {
  background-color: rgb(4, 7, 71);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  bottom: 0px;
  padding-bottom: 30px;
}

footer ul {
  display: inline-block;
  padding: 0px;
}

footer li {
  display: inline-block;
}
